.scroll-wrapper {
    height: 400px;
    overflow: hidden;
    margin-bottom: 40px;
}

.scroll-inner {
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-inner::-webkit-scrollbar {
    display: none;
}

.table-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-text {
    position: relative;
    bottom: 45px;
    font-size: 15px;
}